@font-face {
    font-family: Sharp;
    src: url(./fonts/SamsungSharpSansBd.woff2);
}

@font-face {
    font-family: Bld;
    src: url(./fonts/SamsungOne-700.woff2);
}

@font-face {
    font-family: sft;
    src: url(./fonts/SamsungOne-400.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

header {
    display: flex;
    align-items: center;
    height: 63px;
    background: #fff;
    z-index: 2000;
    justify-content: space-between;
    border-bottom: #e5e5e5;
}

.header_logo {
    display: flex;
    align-items: center;
    height: 64px;
    margin-left: 11px;
}

.header_logo svg {
    margin-top: 2px;
    width: 114px;
}

.header_icons {
    display: flex;
    gap: 4px;
    margin-right: 8.5px;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

.icons svg {
    width: 24px;
    height: 24px;
}

.icons img {
    width: 24px;
    height: 24px;
}
.carousel_main {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .carousel_slide {
    display: none;
    position: absolute;
    width: 100%;
    transition: opacity 0.5s ease;
  }
  .carousel_slide.active {
    display: block;
    position: relative;
  }

.carousel {
    display: flex;
    width: 100%;
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
}
.carousel picture{
    display: flex; 
}

.carousel picture img {
    width: 100%; 
    object-fit: cover;
    background-size: cover;
    background-position: center;
}

.carousel_content {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    position: absolute;
    width: 100%; 
    top: 11.11111111vw;
} 

.carousel_content h2 { 
    font-size: 8.33333333vw;
    font-family: Sharp;
    line-height: 1.333;
}

.carousel_content p {
    margin-top: 4.44444444vw;
    font-size: 3.88888889vw;
    font-family: sft;
    line-height: 1.33;
}

.button {
    margin-top: 6.66666667vw;
    background: #000000;
    border: 0;
    color: white;
    font-family: Bld;
    border-radius: 5.55555556vw;
    padding: 2.5vw 6.38888889vw 2.77777778vw 6.38888889vw;
    font-size: 3.88888889vw;
    line-height: 5.27777778vw;
    border: 1px solid black;
}

.carousel_slider {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 13.33333333vw;
}

.carousel_slider_inner {
    position: absolute;
    top: 0;
    border-radius: 4.44444444vw;
    background: white;
    height: 24px;
    width: 37.75%;
}

.this_week {
    width: 100%;
    padding-top: 8.88888889vw;
    margin-bottom: 4.44444444vw;

}

.this_week h2 {
    display: flex;
    justify-content: center;
    font-size: 7.22222222vw;
    line-height: 1.33;
    font-family: Sharp;
    max-width: 86.66666667vw;
    margin: 0px auto;
    letter-spacing: .01px;
}

.tabs_black {
    display: flex;
    align-items: center;
    margin-bottom: 3.61111111vw;
    color: black;
    font-family: Bld;
    line-height: 7.11111111vw;
    padding: 1.11111111vw 0 1.11111111vw 0;
    overflow-x: scroll;
}


.tabs_black::-webkit-scrollbar {
    display: none;
}

.tabs {
    display: flex;
    margin-right: 8.88888889vw;
    width: 100%;
    align-items: center;
}

.tabs:nth-child(1) {
    margin-left: 6.66666667vw;
}

.tabs p {
    background: none;
    border: 0;
    font-family: Bld;
    font-size: 3.88888889vw;
    white-space: nowrap;
    padding-bottom: 1.11111111vw;
    border-bottom: 1px solid;
}

.card_section {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    width: 91.11111111vw;
    margin: 3px auto 0px auto;
    padding-bottom: 4.44444444vw;
}

.main_card {
    display: flex;
    position: relative;
    align-items: center;
    padding: 0vw 4.44444444vw 4.44444444vw 0vw;
    width: 100%;
    border-radius: 5.55555556vw;
    left: 2.22222222vw;

}

.main_card img {
    width: 100%;
    border-radius: 5.55555556vw;

}

.sub_cards {
    width: 50%;
    height: 33.333333%;
    padding: 0vw 4.44444444vw 4.44444444vw 0vw;
    border-radius: 5.55555556vw;
    display: flex;
    position: relative;
}

.sub_cards img {
    width: 100%;
    border-radius: 5.55555556vw;

}

.main_card_content {
    position: absolute;
    width: 37.22222222vw;
    left: 45.55555556vw;
}

.main_card_content_head h2 {
    font-size: 3.88888889vw;
    font-family: Bld;
    margin-bottom: 1.11111111vw;
}

.main_card_content p {
    font-family: Sft;
    color: #000000;
    font-size: 2.77777778vw;
}

.sub_card_content {
    position: absolute;
    text-align: center;
    bottom: 3.88888889vw;
    width: 100%;
    transform: translateY(-50%);
}

.sub_card_content h2 {
    font-size: 3.33333333vw;
    max-height: 8.88888889vw;
    max-width: 37.77777778vw;
    font-family: Bld;
}

.mobile_main {
    position: relative;
    overflow-x: hidden;
}

.prd_img {
    display: flex;
}

.prd_img img {
    width: 100%;
}

.prd_header {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 111;
}

.prd_header h2 {
    margin-top: 8.88888889vw;
    font-family: Sharp;
    font-size: 7.22222222vw;
    line-height: 1.33;
    text-align: center;
    color: white;
}

.prd_scroll {
    overflow-x: none;
}

.tabs_prd {
    display: flex;
    align-items: center;
    margin-bottom: 3.61111111vw;
    color: white;
    font-family: Bld;
    padding: 1.11111111vw 0 1.11111111vw 0;
    overflow-x: scroll;
    height: 17.7778vw;
    width: 100%;
}

.tabs_black::-webkit-scrollbar {
    display: none;
}

.tabs {
    display: flex;
    margin-right: 8.88888889vw;
    width: 100%;
    align-items: center;
}

.tabs:nth-child(1) {
    margin-left: 6.66666667vw;
}

.tabs p {
    background: none;
    border: 0;
    font-family: Bld;
    font-size: 3.88888889vw;
    white-space: nowrap;
}

.tabs_prd::-webkit-scrollbar {
    display: none;
}

.filter_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 48.88888889vw 6.66666667vw 0vw 6.66666667vw;
    height: 50.83333333vw;
    justify-content: flex-end;
}

.filter_content_main {
    position: absolute;
    width: 100%;
    padding-top: 45.27777778vw;

}

.filter_content h2 {
    font-size: 8.33333333vw;
    font-family: Sharp;
    line-height: 1.3;
    color: white;
    text-align: center;
}

.filter_content p {
    margin-top: 4.44444444vw;
    font-size: 3.88888889vw;
    font-family: sft;
    color: white;
    text-align: center;
    margin-bottom: 2.22222222vw;
}

.filter_content_button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 32.77777778vw;
    bottom: 0;
}

.filter_content_button button {
    background: white;
    border: 0;
    color: black;
    font-family: Bld;
    border-radius: 5.55555556vw;
    padding: 2.5vw 6.38888889vw 2.77777778vw 6.38888889vw;
    font-size: 3.88888889vw;
}

.tv_main {
    position: relative;
    overflow-x: hidden;
}

.home_main {
    position: relative;
    overflow-x: hidden;
}

.recommended_products {}

.recommended_products h2 {
    padding: 8.88888888vw 6.66666667vw 4.44444444vw 6.66666667vw;
    font-size: 7.22222222vw;
    line-height: 1.33;
    font-family: Sharp;
    text-align: center;
}

.recomended_main {

    margin: 2.22222222vw 4.44444444vw 6.66666667vw 4.44444444vw;
}

.recommended_cards_main {
    display: flex;
    overflow-x: scroll;
}

.recommended_cards {
    margin: 4.44444444vw 2.22222222vw 0 2.22222222vw;
    padding: 12.22222222vw 0vw 4.44444444vw 0vw;
    border-radius: 5.55555556vw;
    background: #f7f7f7;
    width: 50%;
}

.recommended_cards_img {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 2.22222222vw;
    margin-bottom: 4.44444444vw;
}

.recommended_cards_img img {
    width: 36.66666667vw;
    height: 36.66666667vw;
}

.recommended_cards_content p {
    margin: 4.44444444vw 3.33333333vw 3.33333333vw 3.33333333vw;
    font-size: 3.33333333vw;
    max-height: 8.88888889vw;
    overflow-y: hidden;
    text-overflow: ellipsis;
    min-height: 3.05555556vw;
    -webkit-line-clamp: 2;
    font-family: Sharp;
    text-align: center;
    line-height: 1.33;
    -webkit-box-orient: vertical;
}

.clr {
    display: flex;
    justify-content: center;
    padding: 0vw 3.33333333vw;
    margin-bottom: 2.22222222vw;
    font-family: Bld;
    font-size: 2.77777778vw;
}

.clr span {
    font-family: sft;
}

.clr_inp {
    display: flex;
    justify-content: center;
    margin-bottom: 3.33333333vw;
    width: 100%;
    height: 4.44444444vw;

}

.clr_inp input {
    padding: 1.11111111vw;
    width: 4.44444444vw;
    height: 4.44444444vw;
}

.kg_button {
    width: 100%;
    display: flex;
    justify-content: center;
}

.kg_button button {
    display: flex;
    align-items: center;
    padding: 0vw 4.72222222vw;
    border-radius: 14px;
    border: 1px solid;
    font-family: Bld;
    height: 7.77777778vw;
}

.price_secction {
    margin: 3.33333333vw 3.33333333vw 2.22222222vw 3.33333333vw;
    height: 84px;
}

.tax_details {
    text-align: center;
    margin-bottom: 4px;
    font-size: 2.77777778vw;
    font-family: sft;
}

.tax_details div span {
    color: #007aff;
    font-family: Bld;
}

.price {
    width: 100%;
    display: flex;
    justify-content: center;
}

.price span {
    font-family: Bld;
    font-size: 3.88888889vw;
    line-height: 1.33;
}

.emi_cal {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1.38888889vw;
    font-size: 2.77777778vw;
    line-height: 1.33;
    font-family: Sft;
    text-decoration: none;
    color: #006bea;
}

.emi_cal a {
    color: #006bea;
}

.recommended_cards_button {
    display: flex;
    width: 100%;
    justify-content: center;

}

.recommended_cards_button button {
    width: 34.44444444vw;
    height: 8.88888889vw;
    padding: 1.94444444vw 4.16666667vw;
    border-radius: 4.44444444vw;
    font-size: 3.33333333vw;
    font-family: Bld;
    color: white;
    background: black;
    border: none;
}

.recommended_scroller_main {
    display: flex;
    justify-content: center;
    width: 100%;
}

.recommended_scroller {
    display: flex;
    padding: 1.11111111vw 2.22222222vw;
    border: 1px solid;
    border-radius: 4.44444444vw;
    margin: 6.66666667vw 0 0;
    align-items: center;
}

.o {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.44444444vw;
    height: 4.44444444vw;
    margin-right: 1.11111111vw;
}

.o div {
    width: 50%;
    height: 50%;
    background: #757575;
    border-radius: 100%;
}

.explore {
    padding: 8.88888889vw 0;
}

.explore h2 {
    padding: 0vw 6.66666667vw;
    font-size: 7.22222222vw;
    line-height: 1.33;
    font-family: Sharp;
    text-align: center;
}

.explore_card_main {
    margin-top: 8.88888889vw;
    padding: 0vw 2.22222222vw 0vw 6.66666667vw;

}

.explore_card {
    display: flex;
    flex-direction: column-reverse;
    padding-right: 4.44444444vw;
}

.explore_card_content {
    margin-top: 4.44444444vw;
    padding: 0vw 4.44444444vw 3.33333333vw 4.44444444vw;
}

.explore_card_img {
    width: 100%;
    height: 86.66666667vw;
}

.explore_card_img img {
    width: 100%;
    border-radius: 5.55555556vw;
}

.explore_card_heading {
    width: 100%;
    height: 18.33333333vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.explore_card_heading h2 {
    font-size: 4.44444444vw;
    font-family: Sharp;
    line-height: 1.33;
    padding: 0;
}

.learn_more {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1.38888889vw;
}

.learn_more a {
    padding: 2.77777778vw 0vw 3.05555556vw 0vw;
    text-decoration: none;
    font-family: Bld;
    font-size: 3.88888889vw;
    line-height: 5.27777778vw;
    text-decoration-color: black;
}

.explore_scroller_main {
    display: flex;
    justify-content: center;
    width: 100%;
}

.explore_scroller {
    display: flex;
    padding: 1.11111111vw 2.22222222vw;
    border: 1px solid;
    border-radius: 4.44444444vw;
    align-items: center;
}

.o {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.44444444vw;
    height: 4.44444444vw;
    margin-right: 1.11111111vw;
}

.o div {
    width: 50%;
    height: 50%;
    background: #757575;
    border-radius: 100%;
}

.something_else {
    display: flex;
    justify-content: center;
    margin: 8.88888889vw 25px 4.44444444vw;
}

.something_else h2 {
    font-family: Sharp;
    font-size: 7.22222222vw;
    line-height: 1.33;
    text-align: center;
}

.something_else_contents {
    width: 100%;
    box-sizing: border-box;
    padding: 2.22222222vw 0 8.88888889vw;
}

.something_else_search {
    width: 100%;
    margin: 0vw 0vw 4.44444444vw 0vw;
    padding: 0vw 1.11111111vw;
    height: 11.66666667vw;

}

.something_else_search_inner {
    display: flex;
    padding: 2.77777778vw 12.22222222vw 2.77777778vw 11.11111111vw;
    border-radius: 6.11111111vw;
    border: 1px solid #757575;
    background: #f7f7f7;
}

.something_else_search_inner img {
    position: absolute;
    width: 4.44444444vw;
    height: 4.44444444vw;
    left: 5.55555556vw;
}

.something_else_search_inner p {
    left: 5.55555556vw;
    line-height: 5.55555556vw;
    font-size: 3.88888889vw;
    font-family: Sft;
}

.search_suggetion {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    font-size: 2.77777778vw;
    font-family: Sft;


}

.search_suggetion li {
    margin: 0 4px 8px 4px;
    padding: 2.22222222vw 4.44444444vw;
    border: solid 1px rgba(0, 0, 0, 0.15);
    border-radius: 4.44444444vw;

}

.lists_main {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.lists {
    padding: 0 4.44444444vw 4.44444444vw 4.44444444vw;
}

.list_main {
    margin: 0vw 0vw 3.33333333vw 5.55555556vw;
}

.list_main:last-child {
    margin: 0vw 0vw 0vw 5.55555556vw;

}

.list_main li {
    font-size: 2.77777778vw;
    font-family: Sft;
    line-height: 1.33;
}

.footer_drops {
    width: 100%;
}

.footer_drops_items {
    display: flex;
    justify-content: space-between;
    height: 15.55555556vw;
    padding: 4.72222222vw 6.66666667vw;
    font-size: 4.44444444vw;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    font-family: Bld;
}

.footer_drops_items img {
    width: 25px;
    height: 25px;
}

.footer_last {
    padding: 8.88888889vw 0vw 6.11111111vw 0vw;
}

.footer_copyright {
    padding: 0 6.66666667vw;
}

.footer_copyright_inner {
    padding-bottom: 8.61111111vw;
}

.footer_copyright p {
    font-size: 3.33333333vw;
    font-family: Sft;
}

.footer_info {
    margin-top: 4.44444444vw;
    font-size: 3.33333333vw;
    font-family: Sft;
    line-height: 1.33;
    max-width: 1023px;
}

.footer_info_inner {
    padding-top: 4vw;
}

.language {}

.language p {
    font-size: 3.33333333vw;
    padding-right: 5.55555556vw;
    font-family: Bld;
    margin-bottom: 6.66666667vw;

}

.footer_socialmedia_pryvacy {
    display: flex;
    flex-direction: column-reverse;
    padding: 0vw 3.88888889vw;
}

.privacy {
    width: 100%;
    padding-top: 2.22222222vw;
}

.privacy_list {
    display: flex;
    width: 100%;
    justify-content: center;
    list-style: none;
}

.privacy_list li {
    padding: 2.22222222vw 3.33333333vw;
    font-size: 3.33333333vw;
    font-family: Sft;
}

.socialmedia_loop_text {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2.22222222vw 0vw 4.44444444vw 0vw;
    line-height: 1.37;
    font-size: 3.33333333vw;
    font-family: Sft;
}

.social_icons_list {
    display: flex;
    justify-content: center;
    list-style: none;
}

.social_icons_list li {
    width: 6.66666667vw;
    height: 6.66666667vw;
    margin: 2.22222222vw 2.22222222vw;
}

.social_icons_list li img {
    width: 100%;
}

.carousel_img_tab {
    display: none;
}

.card_img_tab {
    display: none;
}

.img_cover_tab {
    display: none;
}

.img_tv_tab {
    display: none;
}

.img_home_tab {
    display: none;
}

.header_components {
    display: none;
}

.header_support {
    display: none;
}

.search_inp_inner {
    display: none;
}

.main_menu {
    display: none;
    justify-content: flex-end;
    top: 0;
    position: fixed;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    overflow: hidden;

}

.main_menu_inner {
    width: 360px;
    height: 100vh;
    background: white;
    right: 0;
}

.main_menu_header {
    display: flex;
    gap: 8px;
    padding: 11px 8px;
}

.main_menu_search {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    margin-left: 8px;
    padding-left: 36px;
    background: #f7f7f7;
    height: 42px;
    border-radius: 21px;
}

.main_menu_search img {
    position: absolute;
    left: 12px;
}

.main_menu_search p {
    font-size: 16px;
    color: #555;
    font-family: Sft;
    margin-top: -1px;
}

.main_menu_search img {
    width: 16px;
    height: 16px;
}

.close_icon {
    padding: 8px;
    width: 40px;
    height: 40px;
}

.close_icon img {
    width: 24px;
    height: 24px;
}

.main_menu_log_in {
    position: relative;
    padding-bottom: 14px;
}

.login_text {
    padding: 8px 24px;
}

.login_text p {
    font-family: Bld;
    font-size: 16px;
    line-height: 1.33;
}

.create_accnt {
    padding: 8px 56px 8px 24px;
}

.create_accnt p {
    font-size: 16px;
    font-family: Sft;
}

.main_menu_log_in::after {
    content: ' ';
    display: block;
    position: absolute;
    right: 24px;
    bottom: 4px;
    left: 24px;
    height: 1px;
    background-color: #ddd;
}

.main_navs li {
    display: flex;
    align-items: center;
    padding: 8px 52px 8px 24px;
    font-family: Sharp;
    font-size: 24px;
    line-height: 1.33;
}

.main_navs li img {
    position: absolute;
    right: 0;
    width: 20px;
    height: 20px;
    rotate: 270deg;
    right: 24px;
}

.main_navs {
    list-style: none;
}

.main_menu_support {
    position: relative;
    padding-top: 21px;
    list-style: none;
}

.main_menu_support::before {
    content: ' ';
    position: absolute;
    top: 13px;
    left: 24px;
    right: 24px;
    height: 1px;
    background-color: #ddd;
}

.main_menu_support li {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 8.5px 24px;
}

.main_menu_support li p {
    font-size: 16px;
    font-family: Bld;
}

.main_menu_support li img {
    width: 20px;
    height: 20px;
    rotate: 270deg;
}

.upArrow_side {
    width: 16px;
    height: 16px;
}

.upArrow_side img {
    width: 100%;
    height: 100%;
}

.main_menu_last_section {
    position: relative;
    padding: 16px 0 24px 0;
}

.main_menu_last_section::before {
    content: ' ';
    position: absolute;
    top: 7px;
    left: 24px;
    right: 24px;
    height: 1px;
    background-color: #ddd;
}

.main_menu_last_section ul {
    list-style: none;
}

.main_menu_last_section ul li {
    font-family: Bld;
    font-size: 16px;
    padding: 8.5px 24px;
}

@media screen and (min-width:768px) {
    .carousel_img_mob {
        display: none;
    }

    .carousel picture {
        display: flex;
    }

    .carousel picture source {
        width: 100%;
        display: block;
    }

    .carousel_content {
        display: block;
        left: 6.11111111vw;
        align-items: start;
        width: 43.05555556vw;
    }

    .carousel {
        align-items: center;
        justify-content: start;
        height: 44.444vw;
    }

    .carousel_content h2 {
        font-size: 3.33333333vw;
    }

    .carousel_content p {
        font-size: 1.25vw;
        margin-top: 1.66666667vw;
    }

    .carousel_slider_inner {
        display: none;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .625vw 1.59722222vw .69444444vw 1.59722222vw;
        font-size: .97222222vw;
        line-height: 1.31944444vw;
        margin-top: 2.77777778vw;
    }

    .this_week {
        padding-top: 3.33333333vw;
        margin-bottom: 1.11111111vw;

    }

    .this_week h2 {
        font-size: 2.63888889vw;
        max-width: 96.66666667vw;

    }

    .tabs_black {
        justify-content: center;
        height: 4.02777778vw;
        margin-bottom: unset;
    }

    .tabs {
        margin-right: 3.33333333vw;
        width: unset;
    }

    .tabs p {
        font-size: 1.25vw;
        line-height: 1.66666667vw;
        padding-bottom: unset;
    }

    .card_section {
        width: 98.307vw;
        height: 49.16666667vw;
        flex-direction: column;
        flex-wrap: wrap;
        padding-bottom: unset;
        left: .83333333vw;
    }

    .main_card img {
        border-radius: 1.38888889vw;
    }

    .sub_cards {
        border-radius: 1.38888889vw;
        padding: 0vw 1.66666667vw 1.66666667vw 0vw;
        height: 50%;
    }

    .sub_cards img {
        border-radius: 1.38888889vw;
    }

    .card_img_tab {
        display: block;
    }

    .card_img_mob {
        display: none;
    }

    .main_card {
        width: 50%;
        padding: 0vw 1.66666667vw 1.66666667vw 0vw;
        left: unset;
    }

    .sub_cards {
        width: 25%;
        height: 50%;
    }

    .main_card_content_head h2 {
        font-size: 1.66666667vw;
    }

    .main_card_content p {
        font-size: 14px;
    }

    .main_card_content {
        bottom: 5.55555556vw;
        width: 27.77777778vw;
        margin-left: 9.86111111vw;
        left: 0;
        text-align: center;
    }

    .sub_card_content h2 {
        font-size: 1.25vw;
    }

    /* .mobile_main{
        max-width: 1440px;
        margin: 0 auto;
    } */
    .img_cover_tab {
        display: block;
    }

    .img_cover_mob {
        display: none;
    }

    .tabs_prd {
        height: 4.44444444vw;
    }

    .prd_header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0vw 6.66666667vw;

    }

    .prd_header h2 {
        margin-top: 3.33333333vw;
        font-size: 2.63888889vw;
    }

    .filter_content_button {
        height: 6.11111111vw;
        padding: .55555556vw;

    }

    .filter_content_button button {
        padding: .625vw 1.59722222vw .69444444vw 1.59722222vw;
        font-size: .97222222vw;

    }

    .filter_content_main {
        padding-top: unset;
    }

    .filter_content {
        margin-top: unset;
    }

    .filter_content h2 {
        font-size: 3.33333333vw;
        margin-bottom: .55555556vw;
    }

    .filter_content p {
        font-size: 1.25vw;
        margin-top: unset;
        margin-bottom: unset;
    }

    .img_tv_mob {
        display: none;
    }

    .img_tv_tab {
        display: block;
    }

    .img_home_tab {
        display: block;
    }

    .img_home_mob {
        display: none;
    }

    .recommended_products h2 {
        padding: 3.33333333vw 1.66666667vw 1.11111111vw 1.66666667vw;
        font-size: 2.63888889vw;
    }

    .recomended_main {
        max-width: 80vw;
        margin: 2.22222222vw auto;
    }

    .recommended_cards {
        width: 18.33333333vw;
        margin: 0 .83333333vw;
        padding: 3.33333333vw 0vw 1.66666667vw 0vw;
        border-radius: 1.38888889vw;
    }

    .recommended_cards_img img {
        width: 100%;
        height: 100%;
    }

    .recommended_cards_content p {
        display: -webkit-box;
        font-size: 1.11111111vw;
        margin: .55555556vw 1.11111111vw 1.11111111vw 1.11111111vw;
        -webkit-line-clamp: 2;
        overflow: hidden;
    }

    .clr {
        font-size: .83333333vw;
    }

    .clr_inp {
        height: 100%;
        margin-bottom: .83333333vw;
    }

    .clr_inp input {
        width: 1.66666667vw;
        height: 1.66666667vw;
    }

    .kg_button button {
        height: 1.94444444vw;
        padding: 0;
        font-size: .83333333vw;
    }

    .tax_details {
        font-size: .83333333vw;
    }

    .price_secction {
        margin: .83333333vw 1.11111111vw;
        height: 100%;
    }

    .price span {
        font-size: 1.25vw;
    }

    .emi_cal a {
        font-size: .83333333vw;
    }

    .recommended_cards_button {
        margin-top: 1.66666667vw;
    }

    .recommended_cards_button button {
        font-size: .97222222vw;
        padding: .625vw 1.59722222vw .69444444vw 1.59722222vw;
        height: 100%;
        line-height: 1.31944444vw;
        width: 16.11111111vw;
    }

    .recommended_scroller_main {
        display: none;
    }

    .explore {
        padding: 3.33333333vw 0;
    }

    .explore h2 {
        font-size: 2.63888889vw;
    }

    .explore_card_main {
        margin-top: 3.33333333vw;
        padding: 0vw 1.66666667vw;
    }

    .explore_card_img {
        width: 47.5vw;
        height: 47.5vw;
    }

    .explore_card_img img {
        width: 100%;
    }

    .explore_scroller_main {
        display: none;
    }

    .explore_card {
        position: relative;
    }

    .explore_card_img {
        border-radius: 1.38888889vw;
    }

    .explore_card_img img {
        border-radius: 1.38888889vw;
    }

    .explore_card_content {
        position: absolute;
        top: 0;
        margin-left: 49.16666667vw;
        width: 47.5vw;
        margin-top: 1.11111111vw;
        margin-bottom: 1.45833333vw;
        padding-bottom: unset;
    }

    .explore_card_heading {
        width: 44.5vw;
        height: 4.44444444vw;
        justify-content: start;
    }

    .explore_card_heading h2 {
        font-size: 1.66666667vw;
    }

    .learn_more {
        margin-top: .41666667vw;
        justify-content: start;
    }

    .learn_more a {
        font-size: .97222222vw;
        padding: .69444444vw 0vw .76388889vw 0vw;
        line-height: 1.31944444vw;
    }

    .something_else {
        margin-top: 3.33333333vw;
        margin-bottom: 1.11111111vw;
    }

    .something_else h2 {
        font-size: 2.63888889vw;
        line-height: 1.2;
    }

    .something_else_contents {
        padding: .55555556vw 0 3.88888889vw 0;
        width: 41.66666667vw;
        margin: 0 auto;
    }

    .something_else_search {
        display: flex;
        justify-content: center;
        height: unset;
        margin-bottom: 1.11111111vw;
    }

    .something_else_search_inner {
        position: relative;
        padding: .83333333vw 3.33333333vw .83333333vw 4.44444444vw;
        border-radius: 1.52777778vw;

    }

    .something_else_search_inner p {
        line-height: 1.66666667vw;
        font-size: 1.25vw;
        border-radius: 1.52777778vw;

    }

    .something_else_search_inner img {
        width: 1.66666667vw;
        height: 1.66666667vw;
        left: 1.66666667vw;
    }

    .something_else_search_inner {
        width: 31.11111111vw;
        height: 3.47222222vw;
    }

    .search_suggetion li {
        padding: .55555556vw 1.11111111vw;
        font-size: .83333333vw;
        margin: 0vw .27777778vw .55555556vw .27777778vw;
    }

    .list_main {
        margin: 0vw 0vw 1.11111111vw 1.38888889vw;
    }

    .list_main li {
        font-size: .83333333vw;
    }

    .lists {
        padding: 6.66666667vw;
        padding-top: 0;
        padding-bottom: 1.66666667vw;
    }

    .list_main:last-child {
        margin: 0vw 0vw 1.11111111vw 1.38888889vw;
    }

}

@media screen and (min-width:1280px) {
    header {
        position: relative;
        padding-top: 2.36111111vw;
        height: 7.361vw;
        margin-top: -1px;
        max-height: 106px;
        max-width: 1440px;
        margin: 0 auto;
    }

    .header_logo {
        margin-left: 1.31944444vw;
        margin-right: 2.36111111vw;
        margin-top: 2px;
    }

    .header_logo svg {
        width: 9.02777778vw;
        margin-top: 0;
        border: 0;
    }

    .header_components {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
    }

    .header_components ul {
        display: flex;
        height: 100%;
        list-style: none;
        justify-content: start;
        height: 100%;
        align-items: center;
        margin-top: 1px;
        gap: 1px;
        vertical-align: top;
    }

    .header_components ul li {
        display: flex;
        align-items: center;
        padding: 0 .83333333vw;
        font-family: Bld;
        font-weight: 800;
        font-size: 1.11111111vw;
        height: 2.22222222vw;
    }

    .search_icon {
        display: none;
    }

    .header_icons {
        margin: 0vw .97222222vw;
        gap: 0;
    }

    .menu_btn {
        display: none;
    }

    .icons {
        width: unset;
        height: unset;
        padding: .55555556vw .69444444vw;
    }

    .icons img {
        width: 1.66666667vw;
        height: 1.66666667vw;
    }

    .icons svg {
        width: 1.66666667vw;
        height: 1.66666667vw;
    }

    .search_inp {
        margin-right: .97222222vw;
        height: 100%;
    }

    .search_inp_inner {
        display: flex;
        align-items: center;
        gap: .55555556vw;
        padding: .55555556vw .90277778vw;
        width: 12.22222222vw;
        height: 2.91666667vw;
        border-radius: 100px;
        background: #f7f7f7;
        box-sizing: border-box;
    }

    .search_inp_inner img {
        width: 16px;
        height: 16px;
    }

    .search_inp_inner p {
        font-size: 16px;
        font-family: Sft;
        color: #555;
    }

    .header_support {
        position: absolute;
        display: flex;
        list-style: none;
        justify-content: space-between;
        top: .83333333vw;
        right: 0;
        padding: 0vw 1.11111111vw;
        height: 1.80555556vw;
        overflow: hidden;
        margin-top: -3px;
    }

    .header_support li {
        display: flex;
        align-items: center;
        margin: 0vw .55555556vw;
        font-size: .97222222vw;
        font-family: Bld;
        height: 2.22222222vw;
    }

    .header_support li img {
        width: 1.11111111vw;
        height: 1.11111111vw;
        margin-left: .34722222vw;
    }
}

@media screen and (min-width:1440px) {

    header {
        padding-top: 34px;
    }

    .header_components ul {
        height: 72px;
    }

    .header_components ul li {
        font-size: 16px;
        padding: 0 12px;
        white-space: nowrap;
    }

    .header_support li {
        font-size: 14px;
        height: 24px;
        margin: 0 8px;
    }

    .header_support li img {
        width: 16px;
        height: 16px;
    }

    .search_inp_inner {
        width: 176px;
        padding: 8px 13px;
        height: 42px;
    }

    .icons {
        padding: 8px 10px;
    }

    .icons img {
        width: 24px;
        height: 24px;
    }

    .icons svg {
        width: 24px;
        height: 24px;
    }

    .header_logo {
        margin-left: 19px;
        margin-right: 34px;
        width: 130px;
        height: 72px;
    }

    .header_support {
        top: 12px;
        height: 24px;
        padding: 0 16px;
    }

    .header_icons {
        margin: 0 14px;
    }

    .search_inp {
        margin-right: 14px;
    }

    .carousel {
        height: unset;
    }
    .carousel_content{
        left: 88px;
    }

    .carousel_content h2 {
        font-size: 48px;
        line-height: 57.03px;
    } 

    .carousel_content p {
        font-size: 18px;
        margin-top: 24px;
    }
    .button{
        font-size: 14px; 
        margin-top: 40px; 
        padding: 9px 23px 10px 23px;
        height: 40px;
    }
    

} 